*{
  
}
body {
  /* color: #ffffff !important; */
  background: #fff !important;
  background-image: url(../images/background/background.jpeg);
}
/* section padding */
section {
  /* padding: 7rem; */
}
.gradient-header {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.13161769834887083) 28%,
    rgba(231, 244, 253, 1) 69%,
    rgba(227, 242, 253, 0.8767157375645571) 97%
  );
}
.dropdown-menu {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.13161769834887083) 28%,
    rgba(231, 244, 253, 1) 69%,
    rgba(227, 242, 253, 0.8767157375645571) 97%
  );
}
.bg-delta {
  background-image: url(../images/deltaweb.png) !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  filter: opacity(1);
  padding: 19% 5%; /* Adjust the padding as needed */
}

@media screen and (max-width: 768px) {
  .bg-delta {
    background-size: 50% auto; /* Adjust the background size as needed */
  }
}

.trans-y {
  transform: translateY(-10em);
}
/* .btn-label  */
.btn-b {
  position: relative !important;
  overflow: hidden !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 4.5rem !important;
  padding: 0 3rem !important;
  font-size: 1.25rem !important;
  border: 0 !important;
  border-radius: 0.5rem !important;
  background: #1f7aba !important;
  color: #ffffff !important;
  cursor: pointer !important;
  outline: none !important;
  transition-property: background, box-shadow !important;
  transition-duration: 0.35s !important;
}
.btn-b.primary {
  background: #5d2fdf !important;
}
.btn-b:hover {
  background-color: #5d2fdf !important;
}
.btn-b:focus {
  box-shadow: 0 0 0 3px #8659e9 !important;
}
.btn-b:loading {
  color: rgba(255, 255, 255, 0.5) !important;
  background: #5d2fdf
    repeating-linear-gradient(
      60deg,
      transparent,
      transparent 10px,
      #5526c5 10px,
      #5526c5 20px
    ) !important;
}
.btn-b.completed {
  color: #0a5b3e;
  background: #57aa8e;
  cursor: not-allowed;
}
/* testmonial */
.wrapper-1 {
  /* background-color: #ffffff00; */
  position: relative;
  width: 100%;
  max-width: 61em;
  min-height: 25em;
  border-radius: 0.6em;
  /* transform: translate(-50%, -50%); */
  left: 11%;
  /* top: 50%; */
  /* box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15); */
  display: flex;
}

/* Style the testimonial container */
.testimonial-container {
  width: 100%;
  /* Adjust the width as needed */
  height: auto;
  /* Adjust the height as needed */
  position: relative;
  margin: auto;
  /* padding: 0.8em 0.2em; */
}

/* Style buttons inside the wrapper */
.wrapper-1 button {
  font-size: 1.8em;
  height: 2.2em;
  width: 2.2em;
  background-color: #ffffff99;
  /* Specify background color */
  position: absolute;
  margin: auto;
  top: 0px;
  /* Adjust top and bottom as needed */
  bottom: 0px;
  border: none;
  color: #0a69ed;
  box-shadow: 0 0em 1em rgba(1, 17, 39, 0.25);
  /* Adjust box-shadow as needed */
  cursor: pointer;
  border-radius: 50%;
  /* Use 50% for a circular button */
}

/* Style the "Next" button */
button#next {
  right: -3.1em;
}

/* Style the "Prev" button */
button#prev {
  left: -3.1em;
}

/* Style the paragraphs inside .testimonial-container */
.testimonial-container p {
  color: #8c8c90;
  text-align: center;
  font-size: 0.8em;
  /* Adjust font size as needed */
  line-height: 2em;
  letter-spacing: 0.05em;
}

/* Style the images inside .testimonial-container */
.testimonial-container img {
  display: block;
  margin: 1.8em auto 1.25em auto;
  /* border-radius: 50%; */
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Style the heading (h3) inside .testimonial-container */
.testimonial-container h3 {
  color: #2d3d67;
  font-size: 1em;
  /* Adjust font size as needed */
  text-align: center;
}

/* Style the subheading (h6) inside .testimonial-container */
.testimonial-container h6 {
  color: #bcc4da;
  font-size: 0.9em;
  /* Adjust font size as needed */
  letter-spacing: 0.03em;
  /* Adjust letter spacing as needed */
  font-weight: 400;
  text-align: center;
}

/* Media query for screen width less than 650px */
@media screen and (max-width: 650px) {
  /* Adjust font-size for the #wrapper */
  .wrapper-1 {
    font-size: 14px;
  }
}
/* testmonial end */
.form-control {
  background-color: #ffffff00 !important;
}

/* dropdwon menu for digital card */
.dropdown-menu {
  display: none;
  position: relative;

  /* border: 1px solid #ccc; */
  /* padding: 5px 0; */
  width: 1em !important;
  background-color: #e3f2fdbe !important;
}

/* Style the dropdown options */
.dropdown-menu li {
  background-color: #e3f2fd0a !important;
  list-style: none;
  /* width: 1em !important; */

  /* padding: 5px 15px; */
}

/* Show the dropdown menu on hover */
.nav-item:hover .dropdown-menu {
  display: block;
  width: 1em !important;
}

.slide-back {
  color: #000;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(224, 243, 247, 1) 98%
  );
}

.f-vh {
  font-size: 3vh !important;
}

.logo-container {
  width: 50%;
  /* Adjust the width as needed */
  height: 70%;
  /* Adjust the height as needed */
  overflow: hidden;
  /* margin: 0 auto; */
  /* Center the container horizontally */
  text-align: center;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  /* Center the image horizontally */
}

.card-body {
  flex: 1 1 auto;
  padding: 0rem 0rem !important;
}

.bg-img {
  background-image: url("../images/profile.jpg");
  /* background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; */
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center center;
}

.card-1-p {
  /* padding zero */
  padding: 0 !important;
  max-height: 34rem !important;
}

.card-1 {
  background-color: #fff !important;
  border-radius: calc(1.25rem - 1px) calc(1.25rem - 1px) calc(1.25rem - 1px)
    calc(1.25rem - 1px) !important;
  width: 24rem;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  padding: 1rem;
  overflow: hidden;
  color: rgb(0, 0, 0);
  box-shadow: 3px 7px 20px 0px #2929296c;
}

.card-content {
  margin-top: 70%;
  background: rgba(255, 255, 255, 0.7);
  /* clip-path: polygon(60% 0%, 100% 58%, 100% 100%, 0 100%, 0 0); */
  padding: 4% 0% 0% 3%;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.pr {
}

.card-2 {
  padding-left: 46px;
}

/* Background Image for the First Card */
.card1 {
  background: url("images/profile.jpg") !important;
  background-size: fill !important;
  background-position: center;
  background-repeat: no-repeat;
}

/* Content Styles */
.card-content-1 {
  padding: 30px;
}

.card-header-3 {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header-4 {
  display: flex;
}

/* 3rd card */
.list-g {
  list-style: none;
}

.contact-link {
  text-decoration: none;
  position: relative;
}

.contact-link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #007bff;
  /* Change this color to your desired hover color */
  transform-origin: 0 50%;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.contact-link:hover::before {
  transform: scaleX(1);
}

/* Additional styles for your contact information */
.add-p {
  margin: 0;
}

/* footer floating */
.transparent-l {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 1%;
  left: 1%;
  /* Change from right to left */
  z-index: 9;
  background: var(--qrc-primary);
  padding: 1% 1% 1% 1%;
  /* Adjust padding for left alignment */
  border-radius: 52px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  border: solid 2px #ffffff20;
}

.transparent-l:hover {
  text-decoration: none;
}

.transparent_text-l {
  color: #000000;
  width: 60%;
  text-align: center;
}

a {
  color: black !important;
  text-decoration: none !important;
}

.transparent_circle-l {
  background-color: #fff;
  color: var(--qrc-primary);
  width: 50%;
  height: 3rem;
  border-radius: 50%;
  /* margin-right: 15px; */
  /* Adjust margin for left alignment */
  font-size: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.transparent {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 1%;
  right: 1%;
  /* Change from right to left */
  z-index: 9;
  background: var(--qrc-primary);
  padding: 1% 1% 1% 1%;
  /* Adjust padding for left alignment */
  border-radius: 52px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  border: solid 2px #ffffff20;
}

.transparent:hover {
  text-decoration: none;
}

.transparent_text {
  color: #000000;
  width: 60%;
  text-align: center;
}

a {
  color: black !important;
  text-decoration: none !important;
}

.transparent_circle {
  background-color: #fff;
  color: var(--qrc-primary);
  width: 36%;
  height: 3rem;
  border-radius: 50%;
  font-size: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* form  */

/* /* default setting for contaiern 
*/
.b-t {
  background-color: rgba(243, 242, 239, 0) !important;
  border-top: none !important;
}

@media (max-width: 768px) {
  /* Update card width and margins for smaller screens */
  .card-1 {
    width: 100%;
    margin: 10px auto;
    padding: 0.5rem;
  }

  /* Update your content to be responsive */
  .card-content {
    /* Adjust content styles for smaller screens */
  }

  /* Adjust other styles as needed for smaller screens */
  .logo-container {
    /* Adjust logo container styles for smaller screens */
  }

  .logo {
    /* Adjust logo styles for smaller screens */
  }

  /* Add more specific styles for other elements as needed */
}

h2,
h4,
h5,
h6 {
  font-size: 24px;
  /* Adjust the default font size as needed */
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  h2,
  h4,
  h5,
  h6 {
    font-size: 20px !important;
    /* Adjust the font size for smaller screens */
  }
}

/* Media query for screens smaller than 576px */
@media (max-width: 576px) {
  h2,
  h4,
  h5,
  h6 {
    font-size: 18px !important;
    /* Adjust the font size for even smaller screens */
  }
}

/* qr-code page */
.back-qr {
  background: rgb(60, 60, 178);
  background: linear-gradient(
    180deg,
    rgba(60, 60, 178, 1) 73%,
    rgba(19, 19, 117, 0.9155834208683473) 91%
  );
}

.qr-mar {
  margin: 0 1rem 0 0 !important;
}

.qr-c {
  width: 100%;
  object-fit: cover;
  object-position: absolute;
  margin: 0 0 1rem 0;
  padding: auto;
}

/* table css ShowQr.php */

/* .table-container {
  max-width: 800px;
  margin: 0 auto;
}
.table img {
  max-width: 100px;
  height: auto;
}
.table th, .table td {
  vertical-align: middle;
}
.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
}
.table th, .table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}
.table th {
  background-color: #f8f9fa;
  font-weight: bold;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f3f4f6;
}
@media (max-width: 768px) {
  .table-responsive {
      overflow-x: auto;
  }
} */

/* table css */

#hd {
  background: linear-gradient(#fff, #72b5cc9a);
}

table {
  width: 70%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
}

table th,
table td {
  padding: 10px;
  text-align: left;
  /* box-shadow: 1px 1px 1px 1px #ddd; */
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

table td p {
  margin: 0;
}
